@import 'tailwindcss';
@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
:root {
  background-color: #121212;
  color: white;
}
